/* ヘッダー、フッター */

body{
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-fixed-top{
    background-color: #a2d7d4;
}

.navbar-fixed-bottom{
    text-align: center;
    background-color: #a2d7d4;
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
}

.glyphicon{
    font-size: 18px;
}

/* 投稿詳細ページ */

h3{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h4{
  width: 100%;
  margin: 0 auto;

}

/* 新規投稿ページ */

#contents{
    min-height: 250px;
}

#post-area, #post-genre{
    width: 150px;
}

.select-image{
    border: 1px solid #babbbc;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.delete-image{
    border: 1px solid #babbbc;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.sub-image{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* 投稿編集･削除ページ */

.input-file{
    margin-bottom: 15px;
}

#edit-area, #edit-genre{
    width: 150px;
}

img{
    margin-bottom: 4px;
}

.add-image{
    margin-bottom: 15px;
}

/* ユーザー登録、ログイン、情報変更、削除 */

.edit-form{
    width: 300px;
}

.login-form{
    width: 300px;
}

.register-form{
    width: 300px;
}

.form-btn{
    background-color: #a2d7d4;
    color: black;
    border: #a2d7d4;
}

/* ユーザー個別ページ */

.userName{
    text-align: center;
    margin-top: auto;
}

.editProfile{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.thumbnail{
    margin-bottom: 10px;
    border: 0px;
}

/* index choose用css*/

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
}
.carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}

/* world map*/
/* 共通部分 */
#imagemap {
    margin: 0px auto;
    padding: 0px;
    background: transparent url(../../assets/images/world.png) top left no-repeat;

-moz-background-size:100% auto;
background-size:100% auto;

    width: 700px;
    height: 500px;
    position: relative;
}
#imagemap li {
    margin: 0px;
    padding: 0px;
    position: absolute;
    list-style: none;
    font-size: 14px;
}
#imagemap a {
    position: absolute;
}
#imagemap a span {
    display: none;
}

/* north_america */
/* 選択範囲 */
#north_amerika {
    top: 75px;
    left: 405px;
}
/* 画像位置 */
#north_amerika a {
    width: 300px;
    height: 220px;
}
#north_amerika a:hover {
    background: url(../../assets/images/world.png) -183px -641px no-repeat;
}

/* asia */
/* 選択範囲 */
#asia {
    top: 200px;
    left: 100px;
}
/* 画像位置 */
#asia a {
    width: 340px;
    height: 150px;
}
#asia a:hover {
    background: url(../../assets/images/world.png) -183px -1155px no-repeat;
}

/* oceania */
/* 選択範囲 */
#oceania {
    top:  350px;
    left: 250px;
}
/* 画像位置 */
#oceania a {
    width:  147px;
    height: 93px;
}
#oceania a:hover {
    background: url(../../assets/images/world.png) -108px -1747px no-repeat;
}

/* south_america */
/* 選択範囲 */
#south_america {
    top:  300px;
    left: 550px;
}
/* 画像位置 */
#south_america a {
    width:  110px;
    height: 150px;
}
#south_america a:hover {
    background: url(../../assets/images/world.png) -267px -2190px no-repeat;
}

/* africa */
/* 選択範囲 */
#africa {
    top:  244px;
    left: 15px;
}
/* 画像位置 */
#africa a {
    width:  160px;
    height: 160px;
}
#africa a:hover {
    background: url(../../assets/images/world.png) -254px -3182px no-repeat;
}

/* eurasia */
/* 選択範囲 */
#eurasia {
    top:  100px;
    left: 30px;
}
/* 画像位置 */
#eurasia a {
    width:  370px;
    height: 150px;
}
#eurasia a:hover {
    background: url(../../assets/images/world.png) -143px -2679px no-repeat;
}

/* ●地図下の地域リスト*/
#area {
    margin: 20px auto;
    width: 600px;
}
#area li {
    float:left;
    text-indent:-5px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 30px 0 0;
}
#area li a {
    text-decoration: none;
    color: #2d67ee;
}
#area li a:hover {
    text-decoration: underline;
    color: #f1710f;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
     left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
     height: auto;
}

